<main class="container-main">
  <div class="cap-table">
    <div class="cap-header">
      <div class="empleado-row">Nombre</div>
      <div>Cédula</div>
      <div>Cargo</div>
      <div>Área</div>
      <div>Certificaciones</div>
    </div>

    <div class="cap-row" onclick="location.href='admin_cv.html'" style="cursor: pointer;">
      <div class="empleado-info-column">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Empleado" class="employee-photo">
        <span>José Casas</span>
      </div>
      <div>1234567890</div>
      <div>Desarrollador Backend</div>
      <div>Tecnología</div>
      <div>3</div>
    </div>

    <div class="cap-row" onclick="location.href='admin_cv.html'" style="cursor: pointer;">
      <div class="empleado-info-column">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Empleado" class="employee-photo">
        <span>Juan Perez</span>
      </div>
      <div>1234567890</div>
      <div>Desarrollador Backend</div>
      <div>Tecnología</div>
      <div>3</div>
    </div>
  </div>
</main>
