<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <app-nav-bar>
        <nav class="navbar" id="navbar">
            <div class="logo">
            <img src="assets/images/logo.png" alt="Logo DOS" class="logo-img">
            </div>
            <div class="nav-links">
                <a href="dashboard.html" class="fas fa-bell"></a>
                <a [routerLink]="['/']" class="active">Inicio</a>
                <a [routerLink]="['/lista-empleados']">Perfiles</a>
                <a [routerLink]="['/lista-capacitaciones']">Capacitaciones</a>
                <a [routerLink]="['/lista-evaluaciones']">Evaluaciones</a>
                <a [routerLink]="['/empleado_cv']">Ver Mi Perfil</a>
                <button id="logoutButton" class="nav-button" onclick="cerrarSesion()">Cerrar Sesión</button>
                <div class="profile-dropdown">
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="profile-avatar" onclick="toggleDropdown()">
                    <div class="dropdown-menu" id="profileMenu">
                        <a href="lista_empleados.html"><i class="fas fa-users"></i> Ver Perfiles</a>
                        <a href="lista_capacitaciones.html"><i class="fas fa-chalkboard-teacher"></i> Capacitaciones</a>
                        <a href="lista_capacitaciones.html"><i class="fas fa-clipboard-check"></i>Evaluaciones</a>
                        <a href="empleado_cv.html"><i class="fas fa-user-circle"></i> Ver Mi Perfil</a>
                    </div>
                </div>
            </div>
        </nav>
    </app-nav-bar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <!--<app-side-bar></app-side-bar>-->

    <!-- Content Wrapper. Contains page content -->
    <router-outlet></router-outlet>
    <!-- /.content-wrapper -->

     <!--<app-footer></app-footer>-->
  </div>
  <!-- ./wrapper -->
