<div class="login-page">
  <div class="login-box" >
    <div class="card-frst" >
      <div class="card-body login-card-body" style="border-radius: 12px;">
        <div class="login-logo">
          <img src="assets/img/logo.png" width="auto" height="100rem" />
          </div>
        <h4 class="login-title" [hidden]="!verLogin">
          Ingresar
        </h4>

        <form autocomplete="off" [formGroup]="f" (ngSubmit)="login()">
          <section class="content" [hidden]="!verLogin">
            <h3>
              <div
                *ngIf="loading"
                class="spinner-border float-right"
                role="status"
              >
                <span class="visually-hidden"></span>
              </div>
            </h3>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': invalidField('email') }"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div class="invalid-feedback">
                Please fill out this field correctly.
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': invalidField('password') }"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <div class="invalid-feedback">
                Please fill out this field correctly.
              </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
              <!-- /.col -->
              <div class="col-12">
                <button type="submit" class="btn-dark">
                    <i class="fas fa-sign-in-alt"></i>
                    Iniciar sesión
                </button>
            </div>
              <!-- /.col -->
            </div>
          </section>
        </form>
        <section class="content" [hidden]="!cambiarClave">
          <h3>
            <div
              *ngIf="loading"
              class="spinner-border float-right"
              role="status"
            >
              <span class="visually-hidden"></span>
            </div>
          </h3>
          <p class="login-box-msg">
            Recuperar Contraseña
          </p>
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              [(ngModel)]="emailClave"
            />
          </div>
          <div class="row">
            <div class="col-12">
              <button
                (click)="CambiarContrasenia()"
                class="btn btn-dark btn-block"
              >
                Recuperar
              </button>
            </div>
          </div>
          <br>
          <p class="login-box-msg">
            Se te enviará un correo para recuperar la contraseña de la cuenta
          </p>
        </section>
        <section class="content" [hidden]="!nuevaClave">
          <h3>
            <div
              *ngIf="loading"
              class="spinner-border float-right"
              role="status"
            >
              <span class="visually-hidden"></span>
            </div>
          </h3>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña Nueva"
                [(ngModel)]="clave1"
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña Confirmación"
                [(ngModel)]="clave2"
              />
            </div>
            <div class="row">
              <div class="col-12">
                <button
                  (click)="ActualizarContrasenia()"
                  class="btn btn-dark btn-block"
                >
                  Actualizar Clave
                </button>
              </div>
            </div>
        </section>
        <div class="row" [hidden]="!verLogin">
          <div class="col-12">
            <br />
            <button (click)="CambiarClave()" class="btn btn-link">
              ¿Olvidaste tu contraseña?
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.login-box -->
</div>
