<!-- Tarjeta del Empleado -->
<div class="employe-card">
  <h1 style="color: lightslategray;">Evaluación de Desempeño 2025</h1>
  <div class="employee-card2">
    <!-- <img [src]="employee.avatar" alt="Foto del Empleado" class="employee-image"> -->
    <div class="employee-image-container">
      <img [src]="construirUrlFoto(this.empleado?.fotoPerfilUrl || '', this.empleado?.sexo || '')" class="employee-image" id="employeeImage"
      [alt]="this.empleado?.nombre" (error)="onImageError($event, this.empleado?.sexo || 'M')">

    </div> 
    <div class="employee-personal-info">
          <div class="info-field">
            <i class="info-icon-titulo fas fa-user"></i>
            <h4 class="info-label">{{nombreCompletoDisplay || 'Nombre Completo'}}</h4>
          </div>
          
          <div class="info-field">
            <i class="info-icon far fa-envelope"></i>
            <p class="info-value">{{correoElectronicoDisplay || 'Correo Electrónico'}}</p>
          </div>
          
          <div class="info-field">
            <i class="info-icon far fa-gem"></i>
            <p class="info-value">{{posicionDisplay || 'Posición'}}</p> 
          </div>
                    
        </div>
        
  </div>
  
</div>

<div class="main-card">
  <div class="category-index2">
    <ul>
      <li>
        <div class="category-link2" [class.selected]="activeSection === 'hoja-ruta'" (click)="showSection('hoja-ruta')">
          Hoja de Ruta
        </div>
      </li>
      <li>
        <div class="category-link2" [class.selected]="activeSection === 'info-colaborador'" (click)="showSection('info-colaborador')">
          Información del Colaborador
        </div>
      </li>
      <li>
        <div class="category-link2" [class.selected]="activeSection === 'fechas-revision'" (click)="showSection('fechas-revision')">
          Fechas de Revisión
        </div>
      </li>
      <!-- <li>
        <div class="category-link2" [class.selected]="activeSection === 'objetivos'" (click)="showSection('objetivos')">
          Objetivos
        </div>
      </li> -->
      <!-- <li>
        <div class="category-link2" [class.selected]="activeSection === 'competencias'" (click)="showSection('competencias')">
          Competencias
        </div>
      </li> -->
    </ul>
  </div>

  <div class="content-area">
    <!-- Hoja de Ruta -->
    <div id="hoja-ruta" class="content-section" [class.active]="activeSection === 'hoja-ruta'">
      <h2>Hoja de Ruta de Formulario</h2>
      <!-- Timeline con eventos de click -->
      <div class="timeline">
        <div *ngFor="let step of timelineSteps" 
          class="timeline-step"
          [class.completed]="step.completed"
          [class.active]="step.isActive"          
          tabindex="0"> 
          <!-- (click)="onStepClick(step)" -->

          <div class="circle">
            <!-- Si el step está completado y NO es el activo, mostrar check -->
            <i *ngIf="step.completed && !step.isActive && step.icon" [class]="step.icon"></i>

            <!-- Si el step está activo, mostrar el número -->
            <span *ngIf="step.isActive">{{ step.number }}</span>

            <!-- Si el step no está completado ni activo, mostrar el número -->
            <span *ngIf="!step.completed && !step.isActive">{{ step.number }}</span>
          </div>
          
          <div class="label">
            <!-- Icono PNG a la izquierda del texto -->
            <img [src]="step.pngIcon" alt="icono" class="step-icon">
            <span class="step-text">{{ step.label }}</span>
          </div>
        </div>
      </div>  

    </div>     

                                        <!--       ----------------- FORMULARIOS ---------------------------      -->

    <!-- Formulario Captura de Resultados  1 -->
    <div class="evaluation-form" *ngIf="activeSection === 'hoja-ruta' && faseEvaluacion === 0">
      <h4 class="titulos-pequeños">Captura de Resultados</h4>

      <!-- Objetivo Área -->
      <div class="form-section">
        <div class="section-title" style="display: flex; gap: 1rem">
          <img
            src="assets/img/iconos/iconos mycollection/png/018-diana-y-dardo.png"
            alt="reloj de arena"
            class="icono-normal"
          />
          Objetivo Área
        </div>
        <div class="form-row" style="margin-left: 2rem; margin-right: 2rem">
          <span class="">{{ objetivoAreaDisplay || "Objetivo de Área" }}
          </span >          
        </div>
      </div>

      <!-- Objetivos -->
      <div class="form-section" style="margin-right: 0;">
        <div style="display: flex; justify-content: space-between; margin-left: 1rem;">
          <div class="section-title" style="color: #064eb4">
            <div class="" style="display: flex; gap: 0.2rem">
              <img src="assets/img/iconos/iconos mycollection/png/039-objetivo-1.png" alt="icono obj" class="icono-menor"/>
              Objetivos:
            </div>
          </div>
          <div style="align-content: center">
            <span class="titulos-pequeños-columna" style="margin-right: 4.7rem">Valor</span>
            <span class="titulos-pequeños-columna" style="margin-right: 2.5rem">Fecha estimada</span>
          </div>
        </div>

        <!-- FASE 0: Crear objetivos (Valor + Fecha límite) -->
        <div class="form-section" *ngIf="faseEvaluacion === 0">
          <div *ngFor="let objetivo of objetivosIndividuales; let i = index" class="form-row">
            <span class="item-number">{{ i + 1 }}.</span>
            <div class="objetivo-container">
              <div class="input-wrapper-mobile">
                <label class="label-mobile">Objetivo</label>
                <input type="text" class="text-input text-input-objetivo" 
                      placeholder="Ingrese el objetivo"
                      [(ngModel)]="objetivo.titulo">
              </div>
              
              <div class="input-wrapper-mobile">
                <label class="label-mobile">Valor</label>
                <input type="number" class="number-input number-input-objetivo" 
                      min="0" max="100" 
                      placeholder="/100"
                      [(ngModel)]="objetivo.valoracionEmpleado">
              </div>
              
              <div class="input-wrapper-mobile">
                <label class="label-mobile">Fecha estimada</label>
                <input type="date" class="date-input date-input-objetivo"
                      [(ngModel)]="objetivo.fechaLimite">
              </div>
            </div>          
          </div>
        </div>

        <!-- <div class="percentage-display">60%</div> -->
      </div>

      <!-- Competencias -->
      <div class="form-section" style="margin-top: 3rem; margin-left: 2rem">
        <div class="section-title purple">
          <div class="" style="display: flex; gap: 0.2rem">
            <img
              src="assets/img/iconos/iconos mycollection/png/012-clasificacion-1.png"
              alt="icono obj"
              class="icono-menor"
            />
            Competencias:
          </div>
        </div>

        <!-- Mostrar estado de carga -->
        <!-- <div *ngIf="loadingCompetencies" class="form-row">
          <span class="text-input" style="background: #f0f0f0; border-color: #ccc; color: #666">
            Cargando competencias...
          </span>
        </div> -->

        <div *ngFor="let competencia of nivelesCompetencias; let i = index" class="form-row" style="display: flex; gap: 10px;">  
          <span class="item-number" style="flex-shrink: 0;">{{ i + 1 }}.</span>
          
          <div class="competencia-container">
            <div style="flex: 1; min-width: 0;">
              <div class="competencia-header">
                <span class="tipo-competencia">{{ competencia.tipoCompetencia }}</span>
                <span class="nombre-competencia">{{ competencia.nombreCompetencia }}</span>
              </div>
              <div class="competencia-body">
                <p style="margin-bottom: 0; word-wrap: break-word; overflow-wrap: break-word;">
                  <strong>Nivel {{ competencia.nivel }}</strong> - {{ competencia.descripcion }}
                </p>
              </div>
            </div>
            
            <!-- Parte derecha: Inputs -->
            <div style="display: flex;">
              <div style="text-align: center;">
                <label style="display: block; font-size: 12px; color: #707070; margin-bottom: 4px;">Valor</label>
                <input type="number" class="number-input number-input-competencia"
                  min="0"
                  max="100"
                  [(ngModel)]="competencia.ValoracionEmpleado"
                  (ngModelChange)="actualizarValorCompetenciaFija(i, $event)"
                  placeholder="/100"
                />
              </div>
              
              <div style="margin-right: 0; margin-left: 10px; text-align: center;">
                <label style="display: block; font-size: 12px; color:  #707070; margin-bottom: 4px;">Fecha estimada</label>
                <input
                  type="date"
                  class="date-input date-input-competencia"
                  [(ngModel)]="competencia.FechaLimite"
                  (ngModelChange)="actualizarFechaCompetenciaFija(i, $event)"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="percentage-display">40%</div> -->
      </div>
      <!-- Total -->      
      
    </div>
    <!-- fin Captura de Resultados -->


    <!-- Formulario revisado  2 -->
    <div class="evaluation-form" *ngIf="activeSection === 'hoja-ruta' && faseEvaluacion === 1">
      <h4 class="titulos-pequeños">Revisión Inicial</h4>
        <!-- Objetivo Área -->
        <div class="form-section">          
          <div class="section-title" style="display: flex; gap: 1rem">
            <img src="assets/img/iconos/iconos mycollection/png/018-diana-y-dardo.png" alt="reloj de arena" class="icono-normal">
            Objetivo Área
          </div>
          <div class="form-row" style="margin-left: 2rem; margin-right: 2rem">
            <span class="">{{ objetivoAreaDisplay || "Objetivo de Área" }}</span >          
          </div>
        </div>

        <!-- Objetivos -->
        <div class="form-section" style="margin-right: 0;" >
          <div style="display:flex; justify-content: space-between; margin-left: 1rem;" >
            <div class="section-title" style="color:#064eb4">
              <div class="" style="display:flex; gap:0.2rem;">
                <img src="assets/img/iconos/iconos mycollection/png/039-objetivo-1.png" alt="icono obj" class="icono-menor">
                  Objetivos: 
              </div>                
            </div>
            <div style="align-content: center;">
              <span class="titulos-pequeños-columna" style="margin-right: 3.2rem;">Valor</span>
              <span class="titulos-pequeños-columna" style="margin-right: 3.3rem;">Revisado</span>
              <span class="titulos-pequeños-columna" style="margin-right: 2rem;">Fecha estimada</span>
            </div>              
          </div>
    
          <!-- FASE 1: Ver + Reconsiderar (Valor Empleado + Valor Jefe + Fecha) -->
          <div class="form-section" *ngIf="faseEvaluacion === 1">                  
            <div *ngFor="let objetivo of objetivosIndividuales; let i = index" class="form-row">
              <span class="item-number">{{ i + 1 }}.</span>
              <div class="objetivo-container">
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Objetivo</label>
                  <input type="text" class="text-input text-input-objetivo" 
                        placeholder="Objetivo"
                        [(ngModel)]="objetivo.titulo">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Valor</label>
                  <input type="number" class="number-input number-input-objetivo" 
                        min="0" max="100"
                        [(ngModel)]="objetivo.valoracionEmpleado">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Revisado</label>
                  <input type="number" class="number-input number-input-rev" 
                        min="0" max="100"
                        [(ngModel)]="objetivo.valoracionJefe"
                        placeholder="-">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Fecha estimada</label>
                  <input type="date" class="date-input date-input-objetivo"
                        [(ngModel)]="objetivo.fechaLimite">
                </div>
              </div>
            </div>
          </div>
            <!-- <div class="percentage-display">60%</div> -->
        </div>

        <!-- Competencias -->
        <div class="form-section" style="margin-top: 3rem; margin-left: 2rem">
            <div class="section-title purple">
              <div class="" style="display:flex; gap:0.2rem;">
                <img src="assets/img/iconos/iconos mycollection/png/012-clasificacion-1.png" alt="icono obj" class="icono-menor">
                Competencias: 
              </div>
            </div>

            <!-- Mostrar estado de carga -->
            <!-- <div *ngIf="loadingCompetencies" class="form-row">
              <span class="text-input" style="background: #f0f0f0; border-color: #ccc; color: #666;">
                Cargando competencias...
              </span>
            </div> -->

            <!-- Mostrar competencias cargadas desde el backend -->            
          
          <div *ngFor="let competencia of nivelesCompetencias; let i = index" class="form-row" style="display: flex; gap: 10px;">  
            <span class="item-number" style="flex-shrink: 0;">{{ i + 1 }}.</span>
            
            <div class="competencia-container">
              <div style="flex: 1; min-width: 0;">
                <div class="competencia-header">
                  <span class="tipo-competencia">{{ competencia.tipoCompetencia }}</span>
                  <span class="nombre-competencia">{{ competencia.nombreCompetencia }}</span>
                </div>
                <div class="competencia-body">
                  <p style="margin-bottom: 0; word-wrap: break-word; overflow-wrap: break-word;">
                    <strong>Nivel {{ competencia.nivel }}</strong> - {{ competencia.descripcion }}
                  </p>
                </div>
              </div>
              
              <!-- Parte derecha: Inputs -->
              <div style="display: flex;">
                <div style="text-align: center;">
                  <label style="display: block; font-size: 12px; color: #707070; margin-bottom: 4px;">Valor</label>
                  <input type="number" class="number-input number-input-competencia" 
                    min="0" max="100"
                    [(ngModel)]="competencia.ValoracionEmpleado"
                    (ngModelChange)="actualizarValorCompetenciaFija(i, $event)"
                    placeholder="/100"
                  />
                </div>

                <div style="text-align: center; margin-right: 0; margin-left: 10px;">
                  <label style="display: block; font-size: 12px; color: #707070; margin-bottom: 4px;">Revisado</label>
                  <input type="number" class="number-input number-input-rev" min="0" max="100" 
                      [(ngModel)]="competencia.ValoracionJefe">
                </div>              
                
                <div style="margin-right: 0; margin-left: 10px; text-align: center;">
                  <label style="display: block; font-size: 12px; color:  #707070; margin-bottom: 4px;">Fecha</label>
                  <input
                    type="date"
                    class="date-input date-input-competencia"
                    [(ngModel)]="competencia.FechaLimite"
                    (ngModelChange)="actualizarFechaCompetenciaFija(i, $event)"
                  />
                </div>
              </div>
            </div>
          </div>
              
            <!-- <div class="percentage-display">40%</div> -->
        </div>

        <!-- Total -->
        <!-- <div class="total-percentage">100%</div> -->
          
        <!-- Botón Enviar -->
        <!-- <div>
          <button class="submit-btn" style="margin-left: 2rem;">Enviar</button>
          <button class="revision-btn">Revisar</button> -->
        <!-- </div> -->
        
        
        <!-- <div style="clear: both;"></div> -->

    </div><!-- fin Captura de datos -->


    <!-- Formulario: Evaluación Intermedia  3 -->
    <div class="evaluation-form" *ngIf="activeSection === 'hoja-ruta' && faseEvaluacion === 2">
      <h4 class="titulos-pequeños">Evaluación Intermedia</h4>
        <!-- Objetivo Área -->
        <div class="form-section">          
          <div class="section-title" style="display:flex; gap:1rem;">
            <img src="assets/img/iconos/iconos mycollection/png/018-diana-y-dardo.png" alt="reloj de arena" class="icono-normal">
            Objetivo Área
          </div>
          <div class="form-row" style="margin-left: 2rem; margin-right: 2rem">
            <span class="">{{ objetivoAreaDisplay || "Objetivo de Área" }}</span >          
          </div>
        </div>

        <!-- Objetivos -->
        <div class="form-section" style="margin-right: 0;">
          <div style="display:flex; justify-content: space-between; margin-left: 1rem;" >
            <div class="section-title" style="color:#064eb4">
              <div class="" style="display:flex; gap:0.2rem;">
                <img src="assets/img/iconos/iconos mycollection/png/039-objetivo-1.png" alt="icono obj" class="icono-menor">
                  Objetivos: 
              </div>                
            </div>
            <div style="align-content: center;">
              <span class="titulos-pequeños-columna" style="margin-right: 1rem;">Calificación</span>
              <span class="titulos-pequeños-columna" style="margin-right: 2rem;">Fecha estimada</span>
            </div>              
          </div>                            

          <!-- FASE 2: Calificación Empleado -->
          <div class="form-section" *ngIf="faseEvaluacion === 2">
            <div *ngFor="let objetivo of objetivosIndividuales; let i = index" class="form-row">
              <span class="item-number">{{ i + 1 }}.</span>
              <div class="objetivo-container">
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Objetivo</label>
                  <input type="text" class="text-input text-input-rev"
                        [(ngModel)]="objetivo.titulo"
                        [disabled]="true">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Calificación</label>
                  <input type="number" class="number-input number-input-objetivo" 
                        min="0" max="100"
                        [(ngModel)]="objetivo.calificacionEmpleado"
                        placeholder="0-100">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Fecha límite</label>
                  <input type="date" class="date-input date-input-rev"
                        [(ngModel)]="objetivo.fechaLimite"
                        [disabled]="true">
                </div>
              </div>              
            </div>
          </div>
        </div>

        <!-- Competencias -->
        <div class="form-section" style="margin-top: 3rem; margin-left: 2rem">
          
          <div class="section-title purple">
            <div class="" style="display: flex; gap: 0.2rem">
              <img
                src="assets/img/iconos/iconos mycollection/png/012-clasificacion-1.png"
                alt="icono obj"
                class="icono-menor"
              />
              Competencias:
            </div>
          </div>

            <!-- Mostrar estado de carga -->
            <div *ngIf="loadingCompetencies" class="form-row">
              <span class="text-input" style="background: #f0f0f0; border-color: #ccc; color: #666;">
                Cargando competencias...
              </span>
            </div>

            <!-- Mostrar competencias cargadas desde el backend -->
            <div *ngFor="let competencia of nivelesCompetencias; let i = index" class="form-row">
              <span class="item-number">{{ i + 1 }}.</span>              

              <div class="competencia-container">
                <div style="flex: 1; min-width: 0;">
                  <div class="competencia-header">
                    <span class="tipo-competencia">{{ competencia.tipoCompetencia }}</span>
                    <span class="nombre-competencia">{{ competencia.nombreCompetencia }}</span>
                  </div>
                  <div class="competencia-body">
                    <p style="margin-bottom: 0; word-wrap: break-word; overflow-wrap: break-word;">
                      <strong>Nivel {{ competencia.nivel }}</strong> - {{ competencia.descripcion }}
                    </p>
                  </div>
                </div> 

                <!-- Parte derecha: Inputs -->
                <div style="display: flex;">
                  <div style="text-align: center;">
                    <label style="display: block; font-size: 12px; color: #707070; margin-bottom: 4px;">Valor</label>
                    <input type="number" class="number-input number-input-competencia"
                      min="0"
                      max="100"
                      [(ngModel)]="competencia.CalificacionEmpleado"
                      (ngModelChange)="actualizarValorCompetenciaFija(i, $event)"
                      placeholder="/100"
                    />
                  </div>
                  
                  <div style="margin-right: 0; margin-left: 10px; text-align: center;">
                    <label style="display: block; font-size: 12px; color:  #707070; margin-bottom: 4px;">Fecha estimada</label>
                    <input
                      type="date"
                      class="date-input date-input-rev"
                      [(ngModel)]="competencia.FechaLimite"
                      (ngModelChange)="actualizarFechaCompetenciaFija(i, $event)"
                      [disabled]="true">
                  </div>
                </div>
              </div>
            </div>

        </div>

        <!-- Total -->
        <!-- <div class="total-percentage">100%</div> -->
          
        <!-- Botón Enviar -->
        <!-- <div>
          <button class="submit-btn" style="margin-left: 2rem;">Enviar</button>
        </div>
        <div style="clear: both;"></div> -->
    </div>


    <!-- Formulario: Retroalimentación  4 -->
    <div class="evaluation-form" *ngIf="activeSection === 'hoja-ruta' && faseEvaluacion === 4">
      <h4 class="titulos-pequeños">Retroalimentación</h4>
        <!-- Objetivo Área -->
        <div class="form-section">          
          <div class="section-title" style="display:flex; gap:1rem;">
            <img src="assets/img/iconos/iconos mycollection/png/018-diana-y-dardo.png" alt="reloj de arena" class="icono-normal">
            Objetivo Área
          </div>
          <div class="form-row" style="margin-left: 2rem; margin-right: 2rem">
            <span class="">{{ objetivoAreaDisplay || "Objetivo de Área" }}</span >          
          </div>
        </div>

        
        <div class="form-section">
          <div style="display:flex; justify-content: space-between; margin-left: 1rem;" >
            <div class="section-title" style="color:#064eb4">
              <div class="" style="display:flex; gap:0.2rem;">
                <img src="assets/img/iconos/iconos mycollection/png/039-objetivo-1.png" alt="icono obj" class="icono-menor">
                  Objetivos: 
              </div>                
            </div>
            <div style="align-content: center;">
              <span class="titulos-pequeños-columna" style="margin-right: 1rem;">Calificación Personal</span>
              <span class="titulos-pequeños-columna" style="margin-right: 1rem;">Calificación Final</span>
              <span class="titulos-pequeños-columna" style="margin-right: 2rem;">Fecha estimada</span>
            </div>              
          </div>
          
          <!-- Objetivos -->
          <!-- FASE 4: Calificación Personal + Final (solo lectura) -->
          <div class="form-section">
            <div *ngFor="let objetivo of objetivosIndividuales; let i = index" class="form-row">
              <span class="item-number">{{ i + 1 }}.</span>
              <div class="objetivo-container">
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Objetivo</label>
                  <input type="text" class="text-input text-input-rev"
                        [(ngModel)]="objetivo.titulo"
                        [disabled]="true">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Calificación</label>
                  <input type="number" class="number-input number-input-rev" 
                        min="0" max="100"
                        [(ngModel)]="objetivo.calificacionEmpleado"
                        [disabled]="true">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Final</label>
                  <input type="number" class="number-input number-input-rev" 
                        min="0" max="100"
                        [(ngModel)]="objetivo.calificacionFinal"
                        [disabled]="true">
                </div>
                
                <div class="input-wrapper-mobile">
                  <label class="label-mobile">Fecha límite</label>
                  <input type="date" class="date-input date-input-rev"
                        [(ngModel)]="objetivo.fechaLimite"
                        [disabled]="true">
                </div>
              </div>
            </div>
                
              <!-- <div class="percentage-display">60%</div> -->
          </div>

        <!-- Competencias -->
        <div class="form-section" style="margin-top: 3rem; margin-left: 2rem">
          
          <div class="section-title purple">
            <div class="" style="display: flex; gap: 0.2rem">
              <img
                src="assets/img/iconos/iconos mycollection/png/012-clasificacion-1.png"
                alt="icono obj"
                class="icono-menor"
              />
              Competencias:
            </div>
          </div>

            <!-- Mostrar estado de carga -->
            <div *ngIf="loadingCompetencies" class="form-row">
              <span class="text-input" style="background: #f0f0f0; border-color: #ccc; color: #666;">
                Cargando competencias...
              </span>
            </div>

            <!-- Mostrar competencias cargadas desde el backend -->
            <div *ngFor="let competencia of nivelesCompetencias; let i = index" class="form-row">
              <span class="item-number">{{ i + 1 }}.</span>              

              <div class="competencia-container">
                <div style="flex: 1; min-width: 0;">
                  <div class="competencia-header">
                    <span class="tipo-competencia">{{ competencia.tipoCompetencia }}</span>
                    <span class="nombre-competencia">{{ competencia.nombreCompetencia }}</span>
                  </div>
                  <div class="competencia-body">
                    <p style="margin-bottom: 0; word-wrap: break-word; overflow-wrap: break-word;">
                      <strong>Nivel {{ competencia.nivel }}</strong> - {{ competencia.descripcion }}
                    </p>
                  </div>
                </div> 

                <!-- Parte derecha: Inputs -->
                <div style="display: flex;">
                  <div style="text-align: center;">
                    <label style="display: block; font-size: 12px; color: #707070; margin-bottom: 4px;">Calificación</label>
                    <input type="number" class="number-input number-input-rev"
                      min="0"
                      max="100"
                      [(ngModel)]="competencia.CalificacionEmpleado"
                      (ngModelChange)="actualizarValorCompetenciaFija(i, $event)"
                      placeholder="/100"
                      [disabled]="true">
                  </div>

                  <div style="margin-right: 0; margin-left: 10px; text-align: center;">
                    <label style="display: block; font-size: 12px; color: #707070; margin-bottom: 4px;">Valor</label>
                    <input type="number" class="number-input number-input-rev"
                      min="0"
                      max="100"
                      [(ngModel)]="competencia.CalificacionFinal"
                      (ngModelChange)="actualizarValorCompetenciaFija(i, $event)"
                      placeholder="/100"
                      [disabled]="true">
                  </div>
                  
                  <div style="margin-right: 0; margin-left: 10px; text-align: center;">
                    <label style="display: block; font-size: 12px; color:  #707070; margin-bottom: 4px;">Fecha estimada</label>
                    <input
                      type="date"
                      class="date-input date-input-rev"
                      [(ngModel)]="competencia.FechaLimite"
                      (ngModelChange)="actualizarFechaCompetenciaFija(i, $event)"
                      [disabled]="true">
                  </div>
                </div>
              </div>
            </div>
            
            <!-- <div class="percentage-display">40%</div> -->
        </div>

        <!-- Retroalimentación y Plan de acción -->
        <div class="form-section" style="margin-left: 2rem;">

          <div class="section-title">Retroalimentación</div>
          <div class="form-row">
            <textarea class="text-input" rows="4" 
                      placeholder="Comentarios del supervisor sobre el desempeño..."
                      [disabled]="true"
                      style="background-color: #f5f5f5; color: #666; border-color: #d1d5db; resize: none;">
            </textarea>
          </div>

          <div class="section-title">Plan de Acción</div>
          <div class="form-row">
            <textarea class="text-input" rows="4" 
                      placeholder="Comentarios del supervisor sobre el desempeño..."
                      [disabled]="true"
                      style="background-color: #f5f5f5; color: #666; border-color: #d1d5db; resize: none;">
            </textarea>
          </div>

        </div>
      </div>
    </div>

    
    <!-- Formulario: Cierre  5 -->
    <div class="evaluation-form" *ngIf="activeSection === 'hoja-ruta' && faseEvaluacion === 5">
      <h3>Cierre</h3>
      <div class="form-section">
        <div class="section-title">Resultados Finales</div>
        <div class="form-row">
          <input type="text" class="text-input" placeholder="Resumen final">
          <input type="date" class="date-input">
        </div>
      </div>
    </div>


    <!-- Botón Enviar -->
      <div>
        <button class="submit-btn" style="margin-right: 1rem" (click)="guardarDatosEvaluacion()">
          Enviar
        </button>
      </div>
      <div style="clear: both;"></div>







    <!-- -----------      --------------          -------------             ------------ -->
    

    <!-- Información del Colaborador -->
    <div id="info-colaborador" class="content-section" [class.active]="activeSection === 'info-colaborador'">
      <h2>Información del Colaborador</h2>
      <div class="info-grid">
        <div class="info-item"><span class="label">Nombres:</span> {{ collaboratorInfo.firstName }}</div>
        <div class="info-item"><span class="label">Apellidos:</span> {{ collaboratorInfo.lastName }}</div>
        <div class="info-item"><span class="label">Cargo:</span> {{ collaboratorInfo.position }}</div>
        <div class="info-item"><span class="label">Supervisor:</span> {{ collaboratorInfo.supervisor }}</div>
        <div class="info-item"><span class="label">Fecha de Ingreso:</span> {{ collaboratorInfo.startDate }}</div>
        <div class="info-item"><span class="label">Departamento:</span> {{ collaboratorInfo.department }}</div>
      </div>
    </div>

    <!-- Fechas de Revisión -->
    <div id="fechas-revision" class="content-section" [class.active]="activeSection === 'fechas-revision'">
      <h2>Fechas de Revisión</h2>
      <div class="info-grid">
        <div class="info-item"><span class="label">Evaluador:</span> {{ reviewDates.evaluator }}</div>
        <div class="info-item"><span class="label">Periodo:</span> {{ reviewDates.period }}</div>  
        <div class="info-item"><span class="label">Fecha Límite:</span> {{ reviewDates.deadline }}</div>
      </div>
    </div>

    <!-- Objetivos -->
    <div id="objetivos" class="content-section" [class.active]="activeSection === 'objetivos'">
      <h2>Objetivos (KPIs)</h2>
      <div class="cap-table">
        <div class="cap-header">
          <div>Nombre</div><div>Peso (%)</div><div>Inicio</div><div>Fin</div><div>Descripción</div>
        </div>
        <div *ngFor="let objective of objectives" class="cap-row">
          <div>{{ objective.name }}</div>
          <div style="align-items: center;">{{ objective.weight }}</div>
          <div>{{ objective.startDate }}</div>
          <div>{{ objective.endDate }}</div>
          <div>{{ objective.description }}</div>
        </div>
      </div>
    </div>

    <!-- Competencias -->
    <!-- <div id="competencias" class="content-section" [class.active]="activeSection === 'competencias'">
      <h2>Competencias</h2>
      <div class="cap-table">
        <div class="cap-header">
          <div>Competencia</div><div>Descripción</div><div>Calificación</div>
        </div>
        <div *ngFor="let competencia of competencias" class="cap-row">
          <div>{{ competencia.name }}</div>
          <div>{{ competencia.name || 'Competencia del empleado' }}</div>
          <div>{{ competencia.valor || '0' }}</div>
        </div>
      </div>
    </div> -->
  </div>




</div>
