<!-- navbar.component.html -->
<nav class="navbar" id="navbar">
  <div class="logo">
    <img src="assets/img/logo.png" alt="Logo DOS" class="logo-img">
  </div>
  <div class="nav-links">
    <a routerLink="/dashboard" class="fas fa-bell"></a>
    <a routerLink="/dashboard" routerLinkActive="active">Inicio</a>
    <a routerLink="/lista_empleados.html">Perfiles</a>
    <a routerLink="/lista_capacitaciones.html">Capacitaciones</a>
    <a routerLink="/lista_evaluaciones.html">Evaluaciones</a>
    <a routerLink="/empleado_cv.html">Ver Mi Perfil</a>
    <button id="logoutButton" class="nav-button" (click)="logout()">Cerrar Sesión</button>

    <div class="profile-dropdown">
      <img
        src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
        class="profile-avatar"
        (click)="toggleDropdown()" />
      <div
        class="dropdown-menu"
        id="profileMenu"
        [class.show]="dropdownAbierto">
        <a routerLink="/lista_empleados.html"><i class="fas fa-users"></i> Ver Perfiles</a>
        <a routerLink="/lista_capacitaciones.html"><i class="fas fa-chalkboard-teacher"></i> Capacitaciones</a>
        <a routerLink="/lista_evaluaciones.html"><i class="fas fa-clipboard-check"></i> Evaluaciones</a>
        <a routerLink="/empleado_cv.html"><i class="fas fa-user-circle"></i> Ver Mi Perfil</a>
      </div>
    </div>
  </div>
</nav>
