<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Empleados</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Empleados</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ titulo }}</h3>
      </div>
      <div class="card-body">
        <div class="row" [hidden]="!verLista">
          <div style="margin-bottom: 20px;" class="col-md-2 col-sm-12">
            <button
              class="btn btn-outline-secondary btn-sm float-right"
              (click)="IngresarEmpleado()"
            >
              Agregar
            </button>
          </div>
          <div style="margin-bottom: 20px;" class="col-md-4 col-sm-12">
            <input
              style="width: 300px;"
              clase="form-control"
              type="text"
              placeholder="Buscar empleado"
              [(ngModel)]="filterText.nombresApellidos"
            />
          </div>
          <h5 style="margin-top: 30px" *ngIf="empleado.length == 0">
            No hay datos para mostrar
          </h5>
          <div class="table-responsive">
            <table
              *ngIf="empleado.length > 0"
              class="table table-striped table table-sm table-hover"
            >
              <thead>
                <tr>
                  <th (click)="sort('idEmpleado')">
                    Codigo <i clase="fas fa fa-sort"></i>
                  </th>
                  <th (click)="sort('nombresApellidos')">
                    Nombres Apellidos <i clase="fas fa fa-sort"></i>
                  </th>
                  <th (click)="sort('rucedula')">
                    Ruc/Cedula <i clase="fas fa fa-sort"></i>
                  </th>
                  <th (click)="sort('correo')">
                    Correo <i clase="fas fa fa-sort"></i>
                  </th>
                  <!--<th (click)="sort('sueldo')">
                  Sueldo <i clase="fas fa fa-sort"></i>
                </th>
                <th (click)="sort('rol')">
                  Rol <i clase="fas fa fa-sort"></i>
                </th>
                <th (click)="sort('fondoReserva')">
                  F.R. Acumula <i clase="fas fa fa-sort"></i>
                </th>-->
                  <th (click)="sort('estado')">
                    Estado <i clase="fas fa fa-sort"></i>
                  </th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let data of empleado
                      | paginate : { itemsPerPage: 5, currentPage: p }
                      | orderBy : orderHeader : isDescOrder
                      | filterBy : filterText
                  "
                >
                  <td>{{ data.idEmpleado }}</td>
                  <td>{{ data.nombresApellidos }}</td>
                  <td>{{ data.rucedula }}</td>
                  <td>{{ data.correo }}</td>
                  <!--<td>{{ data.sueldo | currency }}</td>
                <td>{{ data.rol }}</td>
                <td>{{ data.fondoReserva }}</td>-->
                  <td>{{ data.estado == 1 ? "Activo" : "Inactivo" }}</td>
                  <td>
                    <i
                      (click)="EditarEmpleado(data)"
                      class="fas fa-edit fa-lg text-info mr-2"
                    ></i>
                    <!--<i (click)="VerEmpleado(data.idEmpleado)" class="fas fa fa-eye fa-lg text-info mr-2"></i>-->
                    <i
                      (click)="EliminarEmpleado(data.idEmpleado)"
                      class="fas fa-trash-alt fa-lg text-danger"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="row" [hidden]="!registroEm">
          <div class="card-body">
            <h3>
              <div
                *ngIf="loading"
                class="spinner-border float-right"
                role="status"
              >
                <span class="visually-hidden"></span>
              </div>
            </h3>
            <div class="row mt-3" [hidden]="!OcultarEmpresa">
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Empresa</label>
                  <select
                    class="browser-default custom-select"
                    [(ngModel)]="IdEmpresa"
                    [ngClass]="{ 'is-invalid': invalidField('IdEmpresa') }"
                  >
                    <!--<option [ngValue]="null" disabled>Select Empresa</option>-->
                    <option
                      [value]="mrempresa.idEmpresa"
                      *ngFor="let mrempresa of empresa"
                    >
                      {{ mrempresa.nombreComercial }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Debe ingresar el perfil</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombres Apellidos</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="NombresApellidos"
                    placeholder="Nombres Apellidos"
                    [ngClass]="{
                      'is-invalid': invalidField('NombresApellidos')
                    }"
                  />
                  <div class="invalid-feedback">
                    Debe ingresar nombres y apellidos
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Ruc/Cedula</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="Rucedula"
                    placeholder="Ruc/Cedula"
                    [ngClass]="{ 'is-invalid': invalidField('Rucedula') }"
                  />
                  <div class="invalid-feedback">Debe ingresar ruc o cedula</div>
                </div>
              </div>
              <!--<div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sueldo</label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="Sueldo"
                      placeholder="Sueldo"
                      [ngClass]="{ 'is-invalid': invalidField('Sueldo') }"
                    />
                    <div class="invalid-feedback">Debe ingresar el sueldo</div>
                  </div>
                </div>-->
            </div>
            <div class="row mt-3">
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Fecha Ingreso</label>
                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="Ingreso"
                    placeholder="Ingreso"
                    [ngClass]="{ 'is-invalid': invalidField('Ingreso') }"
                  />
                  <div class="invalid-feedback">Debe ingresar el ingreso</div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Direccion</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="Direccion"
                    placeholder="Dirección"
                    [ngClass]="{ 'is-invalid': invalidField('Direccion') }"
                  />
                  <div class="invalid-feedback">Debe ingresar la dirección</div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="Telefono"
                  placeholder="Telefono"
                  data-inputmask='"mask": "(999) 999-9999"'
                  data-mask
                  [ngClass]="{ 'is-invalid': invalidField('Telefono') }"
                />
                <div class="invalid-feedback">Debe ingresar el teléfono</div>
              </div>
            </div>
            <div class="row mt-3">
              <!--<div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Regimen</label>
                    <select
                      class="browser-default custom-select"
                      formControlName="Regimen"
                      [ngClass]="{ 'is-invalid': invalidField('Regimen') }"
                    >
                      <option selected>Selec Regimen</option>
                      <option value="ROL + COMISIONES">ROL + COMISIONES</option>
                      <option value="ROL + TRANSPORTE">ROL + TRANSPORTE</option>
                      <option value="ROL + TRANSPORTE + COMISIONES">
                        ROL + TRANSPORTE + COMISIONES
                      </option>
                    </select>
                    <div class="invalid-feedback">Debe ingresar el regimen</div>
                  </div>
                </div>-->
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Estado</label>
                  <select
                    class="browser-default custom-select"
                    [(ngModel)]="Estado"
                    [ngClass]="{ 'is-invalid': invalidField('Estado') }"
                  >
                    <option selected>Seleccione</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                  <div class="invalid-feedback">Debe ingresar el estado</div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Perfil</label>
                  <select
                    class="browser-default custom-select"
                    [(ngModel)]="Perfiles"
                    [ngClass]="{ 'is-invalid': invalidField('Perfiles') }"
                  >
                    <option [ngValue]="null" disabled>Select perfil</option>
                    <option
                      [value]="perfil.idPerfil"
                      *ngFor="let perfil of comboperfil"
                    >
                      {{ perfil.descripcion }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Debe ingresar el perfil</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <!--<div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Rol</label>
                    <select
                      class="browser-default custom-select"
                      formControlName="Rol"
                      [ngClass]="{ 'is-invalid': invalidField('Rol') }"
                    >
                      <option selected>Seleccione</option>
                      <option value="NO">NO</option>
                      <option value="SI">SI</option>
                    </select>
                    <div class="invalid-feedback">
                      Debe seleccionar si aplica rol
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">F.R. Acumula</label>
                    <select
                      class="browser-default custom-select"
                      formControlName="FondoReserva"
                      [ngClass]="{ 'is-invalid': invalidField('FondoReserva') }"
                    >
                      <option selected>Seleccione</option>
                      <option value="NO">NO</option>
                      <option value="SI">SI</option>
                    </select>
                    <div class="invalid-feedback">
                      Debe seleccionar si aplica Fondo Reserva
                    </div>
                  </div>
                </div>-->
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">Correo</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="Correo"
                    placeholder="Correo"
                    [ngClass]="{ 'is-invalid': invalidField('Correo') }"
                  />
                  <div class="invalid-feedback">Debe ingresar el correo</div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <button
                type="text"
                class="btn btn-outline-secondary btn-sm float-right mr-2"
                (click)="ListaEmpleados()"
              >
                Lista Empleados
              </button>
              <button
                type="submit"
                class="btn btn-outline-primary btn-sm float-right"
                (click)="GuardarEmpleado()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer"></div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
