/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*mat-dialog-content::-webkit-scrollbar{
    width: 6px !important;
}

mat-dialog-content::-webkit-scrollbar-thumb{
    -webkit-box-shodow:inset 0 0 13px !important;
    border-radius: 15px !important;
}*/

.cdk-overlay-container{
    z-index: 2000 !important;
}


/* ============================================
   IMPORTAR FUENTES LOCALES
   ============================================ */

/* Uni Sans - Thin */
@font-face {
  font-family: 'Uni Sans';
  src: url('/assets/fonts/UniSansThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src: url('/assets/fonts/UniSansThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

/* Uni Sans - Heavy */
@font-face {
  font-family: 'Uni Sans';
  src: url('/assets/fonts/UniSansHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src: url('/assets/fonts/UniSansHeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

/* Plus Jakarta Sans */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}