<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Empresa</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Empresa</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ titulo }}</h3>

        <div class="card-tools"></div>
      </div>
      <div class="card-body">
        <h3>
          <div *ngIf="loading" class="spinner-border float-right" role="status">
            <span class="visually-hidden"></span>
          </div>
        </h3>
        <section class="content" [hidden]="!verLista">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="col-12 col-sm-6 col-xl-1 mr-auto">
                    <button
                      class="btn btn-outline-secondary btn-sm float-right"
                      (click)="IngresarPaciente()"
                    >
                      Agregar
                    </button>
                  </div>
                  <div class="col-12 col-sm-6 col-xl-3 ml-auto">
                    <input
                      clase="form-control"
                      type="text"
                      placeholder="Buscar descripcion"
                      [(ngModel)]="filterText.descripcion"
                    />
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th (click)="sort('ruc')">Ruc/Cedula</th>
                        <th (click)="sort('razonSocial')">RazonSocial</th>
                        <th (click)="sort('nombreComercial')">NombreComercial</th>
                        <th (click)="sort('telefono')">Teléfono</th>
                        <th (click)="sort('direccion')">Direccion</th>
                        <th (click)="sort('estado')">Estado</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of paciente">
                        <td>{{ data.ruc }}</td>
                        <td>{{ data.razonSocial }}</td>
                        <td>{{ data.nombreComercial }}</td>
                        <td>{{ data.direccion }}</td>
                        <td>{{ data.direccion }}</td>
                        <td>{{ data.estado == 1 ? "Activo" : "Inactivo" }}</td>
                        <td>
                          <i
                            (click)="EditarEmpresa(data)"
                            title="Editar el Empresa"
                            class="fas fa-edit fa-md text-info mr-2"
                          ></i>
                          <!--<i
                            (click)="VerDetalleComision(data.idComision)"
                            class="fas fa fa-eye fa-md text-info mr-2"
                          ></i>
                          <i class="fas fa-trash-alt fa-sm text-danger"></i>-->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content" [hidden]="!registroEm">
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Ruc/Cedula</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="Ruc"
                  placeholder="Ruc/Cedula"
                  [ngClass]="{ 'is-invalid': invalidField('Ruc') }"
                />
                <div class="invalid-feedback">Debe ingresar la Ruc/Cedula</div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="exampleInputEmail1">RazonSocial</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="RazonSocial"
                  placeholder="RazonSocial"
                  [ngClass]="{ 'is-invalid': invalidField('RazonSocial') }"
                />
                <div class="invalid-feedback">Debe ingresar la RazonSocial</div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NombreComercial</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="NombreComercial"
                  placeholder="NombreComercial"
                  [ngClass]="{ 'is-invalid': invalidField('NombreComercial') }"
                />
                <div class="invalid-feedback">
                  Debe ingresar la NombreComercial
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="Telefono"
                  placeholder="Teléfono"
                  [ngClass]="{ 'is-invalid': invalidField('Telefono') }"
                />
                <div class="invalid-feedback">Debe ingresar la Telefono</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Dirección</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="Direccion"
                  placeholder="Dirección"
                  [ngClass]="{ 'is-invalid': invalidField('Direccion') }"
                />
                <div class="invalid-feedback">Debe ingresar la Dirección</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Correo</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="Correo"
                  placeholder="Correo"
                  [ngClass]="{ 'is-invalid': invalidField('Correo') }"
                />
                <div class="invalid-feedback">Debe ingresar la Correo</div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Fecha:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-calendar-alt"></i
                    ></span>
                  </div>
                  <input
                    type="date"
                    class="form-control"
                    data-inputmask-alias="datetime"
                    data-inputmask-inputformat="dd/mm/yyyy"
                    data-mask=""
                    inputmode="numeric"
                    [(ngModel)]="Fecha"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <label for="exampleInputEmail1">Regimen</label>
              <select
                class="browser-default custom-select"
                [(ngModel)]="Regimen"
                [ngClass]="{ 'is-invalid': invalidField('Regimen') }"
              >
                <option
                [value]="regimen.descripcion"
                *ngFor="let regimen of comboRegimen"
                >
                {{ regimen.descripcion }}
            </option>
              </select>
              <div class="invalid-feedback">Debe ingresar el Regimen</div>
            </div>
            <div class="col-4">
              <label for="exampleInputEmail1">Obligado a contabilidad</label>
              <select
                class="browser-default custom-select"
                [(ngModel)]="Obligado"
                [ngClass]="{ 'is-invalid': invalidField('Obligado') }"
              >
                <option value="SI">SI</option>
                <option value="NO">NO</option>
              </select>
              <div class="invalid-feedback">Debe ingresar el Obligado a contabilidad</div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Clave Certificado</label>
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="ClaveCertificado"
                  placeholder="Clave Certificado"
                  [ngClass]="{ 'is-invalid': invalidField('ClaveCertificado') }"
                />
                <div class="invalid-feedback">
                  Debe ingresar la Clave Certificado
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Num. Caracteres Detalle</label>
                <input
                  type="numeric"
                  class="form-control"
                  [(ngModel)]="NumCaracter"
                  placeholder="Num. Caracteres Detalle"
                  [ngClass]="{ 'is-invalid': invalidField('NumCaracter') }"
                />
                <div class="invalid-feedback">
                  Debe ingresar Num. Caracteres Detalle
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <form>
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Certificado</label>
                  <input
                    #myInputCertificado
                    class="custom-file-upload"
                    type="file"
                    accept="*"
                    (change)="seleccionarArchivoCert($event)"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="row mt-3">
            <form>
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Imagen</label>
                  <input
                    #myInputImgan
                    class="custom-file-upload"
                    type="file"
                    accept="*"
                    (change)="seleccionarArchivoImag($event)"
                  />
                  <!--<br /><br />-->
                </div>
              </div>
            </form>
          </div>
          <div class="row mt-3">
            <button
              type="text"
              class="btn btn-outline-secondary btn-sm float-right mr-2"
              (click)="RegresarLista()"
            >
              Lista Empresa
            </button>
            <button
              type="submit"
              class="btn btn-outline-secondary btn-sm float-right mr-2"
              (click)="GuardarEmpresa()"
            >
              Guardar
            </button>
          </div>
        </section>
      </div>
      <!-- /.card-body -->
      <div class="card-footer"></div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
