<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Pedido</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Pedido</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ titulo }}</h3>
      </div>
      <div class="card-body">
        <section class="content" [hidden]="!verLista">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-3 col-sm-12">
                      <input
                        clase="form-control"
                        type="text"
                        placeholder="Buscar cliente"
                        [(ngModel)]="filterText.cliente"
                      />
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <button
                        class="btn btn-outline-secondary btn-sm float-right mr-2"
                        (click)="IngresarPedido()"
                      >
                        Agregar Pedido
                      </button>
                      <button
                        class="btn btn-outline-secondary btn-sm float-right mr-2"
                        (click)="Facturar()"
                      >
                        Facturar Pedido
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="row mt-3" [hidden]="!OcultarEmpresa">
                  <div class="col">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Empresa</label>
                      <select
                        class="browser-default custom-select"
                        (change)="MostrarInventarioEmpresa($event)"
                      >
                        <!--<option [ngValue]="null" disabled>Select Empresa</option>-->
                        <option
                          [value]="mrempresa.idEmpresa"
                          *ngFor="let mrempresa of empresa"
                        >
                          {{ mrempresa.nombreComercial }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th (click)="sort('fechaRegistro')">Fecha</th>
                          <th (click)="sort('cliente')">Cliente</th>
                          <th (click)="sort('total')">Total</th>
                          <th (click)="sort('estado')">Estado</th>
                          <th>Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of pedido | filterBy : filterText">
                          <td>{{ data.strFechaRegistro }}</td>
                          <td>{{ data.cliente }}</td>
                          <td>{{ data.total | currency }}</td>
                          <td>
                            {{ data.estado == 1 ? "Activo" : "Inactivo" }}
                          </td>
                          <td>
                            <i class="mr-2">
                              <input
                                type="checkbox"
                                title="Seleccionar Pedido"
                                (change)="handleChange($event, data)"
                              />
                            </i>
                            <i
                              title="Imprimir pedido"
                              class="fas fa fa-print"
                              (click)="ReimprimirPedido(data)"
                            >
                            </i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content" [hidden]="!registroEm">
          <h3>
            <div
              *ngIf="loading"
              class="spinner-border float-right"
              role="status"
            >
              <span class="visually-hidden"></span>
            </div>
          </h3>
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="StrCliente"
                placeholder="Cliente"
              />
            </div>
            <div class="col-md-3 col-sm-12">
              <input
                type="date"
                class="form-control"
                data-inputmask-alias="datetime"
                data-inputmask-inputformat="dd/mm/yyyy"
                data-mask=""
                inputmode="numeric"
                [(ngModel)]="Fecha"
              />
            </div>
            <div class="col-12">
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="StrObservacion"
                placeholder="Observacion"
              />
            </div>
            <div class="col-12">
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="StrProducto"
                placeholder="Producto"
                (input)="BuscarProductos()"
              />
              <ul [hidden]="!isVisible" class="list-group list-group-light">
                <li class="list-group-item" *ngFor="let data2 of inventario">
                  <a
                    role="option"
                    (click)="
                      SeleccionarProducto(data2.idInventario, data2.descripcion)
                    "
                  >
                    <p>{{ data2.descripcion }}</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-1 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="Cantidad"
                placeholder="Cantidad"
                title="Cantidad"
              />
            </div>
            <div class="col-md-2 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="Precio"
                placeholder="Precio"
                readonly
              />
              <ul
                [hidden]="!isVisiblePrecio"
                class="list-group list-group-light"
              >
                <li class="list-group-item" *ngFor="let data2 of dataArray">
                  <a
                    role="option"
                    (click)="SeleccionarPrecio(data2.IdPrecio, data2.Precio)"
                  >
                    <p>{{ data2.Precio }}</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-12">
              <button
                type="button"
                class="btn btn-outline-info mr-2"
                title="Buscar Otros Precios"
                (click)="BuscarPrecios()"
              >
                +
              </button>
              <button
                type="button"
                class="btn btn-outline-success"
                title="Agregar al Pedido"
                (click)="AgregarPedido()"
              >
                +
              </button>
            </div>
            <div class="col-md-4 col-sm-12">
              <img [src]="imagePath" width="150" height="150" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tab-content">
                <div class="table-responsive">
                  <table class="table table-items">
                    <thead>
                      <tr>
                        <th width="5%" class="text-center">Cantidad</th>
                        <th width="20%" class="text-center">Detalle</th>
                        <th width="10%" class="text-center">Precio($)</th>
                        <th width="10%" class="text-center">Iva</th>
                        <th width="10%" class="text-center">Total</th>
                        <th width="5%">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of dataItem">
                        <td width="5%" class="text-center">
                          <input
                            #NumCantidad
                            type="text"
                            class="form-control"
                            [value]="data.Cantidad"
                            (input)="onInputChangeCantidad($event, data)"
                          />
                        </td>
                        <td width="20%" class="text-center">
                          <input
                            #StrDetalle
                            type="text"
                            class="form-control"
                            [value]="data.Detalle"
                            (input)="onInputChangeDetalle($event, data)"
                          />
                        </td>
                        <td width="10%" class="text-center">
                          {{ data.Precio | currency }}
                        </td>
                        <td width="10%" class="text-center">
                          {{ data.Iva | currency }}
                        </td>
                        <td width="10%" class="text-center">
                          {{ data.Total | currency }}
                        </td>
                        <td width="5%" class="text-center">
                          <i
                            (click)="removeItem(data)"
                            class="fas fa-trash-alt fa-sm text-danger"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
              <ul class="unstyled amounts">
                <li class="grand-total">
                  Valor total: $<span id="valorTotal">{{ valortotal }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <button
              type="submit"
              class="btn btn-outline-primary btn-sm float-right"
              (click)="GuardarPedido()"
            >
              Guardar
            </button>
            <button
              type="text"
              class="btn btn-outline-secondary btn-sm float-right mr-2"
              (click)="RegresarLista()"
            >
              Lista Pedido
            </button>
          </div>
        </section>
        <section class="content" [hidden]="!PagarPedido">
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="rbNotaventa"
                  id="rbNotaventa"
                  checked
                  [(ngModel)]="rbNotaventa"
                  (input)="onInputrb($event, 'NotaVenta')"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  Nota Venta
                </label>
              </div>
            </div>
            <div class="col-md-2 col-sm-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="rbFactura"
                  id="rbFactura"
                  [(ngModel)]="rbFactura"
                  (input)="onInputrb($event, 'Factura')"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  Factura
                </label>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="strNumDocumento"
                placeholder="Num Documento"
                readonly
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="StrObservacionFactura"
                placeholder="Observación"
                readonly
              />
            </div>
          </div>
          <div class="col-12">
            <hr />
          </div>
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="StrClienteFactura"
                placeholder="Cliente"
                (input)="BuscarCliente()"
              />
              <ul
                [hidden]="!isVisibleCliente"
                class="list-group list-group-light"
              >
                <li
                  class="list-group-item"
                  *ngFor="let data2 of ClienteServicio"
                >
                  <a role="option" (click)="SeleccionarCliente(data2)">
                    <p>{{ data2.descripcion }}</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-12">
              <!--<button
                type="button"
                class="btn btn-outline-info mr-2"
                title="Buscar Cliente"
                (click)="BuscarPrecios()"
              >
                +
              </button>-->
              <button
                type="button"
                class="btn btn-outline-success"
                title="Agregar al Consumidor Final"
                (click)="AgregarCliente()"
              >
                +
              </button>
            </div>
            <div class="col-md-3 col-sm-12">
              <input
                type="date"
                class="form-control"
                data-inputmask-alias="datetime"
                data-inputmask-inputformat="dd/mm/yyyy"
                data-mask=""
                inputmode="numeric"
                [(ngModel)]="FechaFactura"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Identificación</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Identificación"
                  [(ngModel)]="StrRucFactura"
                />
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Tipo Identificación</label>
                <select
                  name="ComboTipoIdentificacion"
                  class="form-control"
                  [(ngModel)]="IdTipoIdentificacion"
                >
                  <option
                    [value]="OrdenE.idProceso"
                    *ngFor="let OrdenE of comboTipoIdentificacion"
                  >
                    {{ OrdenE.descripcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Direccion</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Direccion"
                  [(ngModel)]="DireccionFactura"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  [(ngModel)]="EmailFactura"
                />
              </div>
            </div>
          </div>
          <div class="col-12">
            <hr />
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tab-content">
                <div class="table-responsive">
                  <table class="table table-items">
                    <thead>
                      <tr>
                        <th width="5%" class="text-center">Cantidad</th>
                        <th width="20%" class="text-center">Detalle</th>
                        <th width="10%" class="text-center">Precio($)</th>
                        <th width="10%" class="text-center">Iva</th>
                        <th width="10%" class="text-center">Total</th>
                        <th width="5%">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of pedidoDetalle">
                        <td width="5%" class="text-center">
                          {{ data.cantidad }}
                        </td>
                        <td width="20%" class="text-center">
                          {{ data.detalle }}
                        </td>
                        <td width="10%" class="text-center">
                          {{ data.precio | currency }}
                        </td>
                        <td width="10%" class="text-center">
                          {{ data.iva | currency }}
                        </td>
                        <td width="10%" class="text-center">
                          {{ data.total | currency }}
                        </td>
                        <td width="5%" class="text-center">
                          <i
                            (click)="removeItem(data)"
                            class="fas fa-trash-alt fa-sm text-danger"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
              <ul class="unstyled amounts">
                <li>
                  <span class="margin-right">SubTotal:</span> $<span
                    id="SubTotalFactura"
                    >{{ SubTotalFactura }}</span
                  >
                </li>
                <li>
                  <span class="margin-right">Iva:</span> $<span
                    id="ivaFactura"
                    >{{ ivaFactura }}</span
                  >
                </li>
                <li class="grand-total">
                  Valor total: $<span id="valorTotal">{{
                    valortotalFactura
                  }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <button
              type="submit"
              class="btn btn-outline-primary btn-sm float-right"
              (click)="GuardarFactura()"
            >
              Guardar
            </button>
            <button
              type="text"
              class="btn btn-outline-secondary btn-sm float-right mr-2"
              (click)="RegresarLista()"
            >
              Lista Pedido
            </button>
          </div>
        </section>
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
